@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #e0e8ff;
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 24px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: inherit;
}

@media (min-width: 1440px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");

    background-size: contain;
  }
}
